
.common #login
{
  float: right;
  
}
.common #lj
{
    color:#00a807;
}
.common nav
{
    background-color: #00a807;
    color: white;
    padding: 10px;  
}

.common nav a
{ 
        margin-right: 10px;
        color: white;
        text-decoration: none;
}
.common nav a:hover
{
    background-color: purple;
    border: 2px darkblue solid;
}

footer
{
    width: 100%;
    height: 50px;
    padding-top: 15px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: black;
    color: white;
}